@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --fg: #f0f0f0;
  --bg: #1d1c1c;

  --spacing-lg: calc(var(--spacing) * 2);
  --spacing: 16px;
  --spacing-sm: calc(var(--spacing) / 2);
  --spacing-xs: calc(var(--spacing) / 4);

  --danger: #cc2b2b;
  --danger-light: #fcf0f0;

  --success: #2bcc2b;
  --success-light: #dff4df;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

h1,
h2,
h3 {
  font-family: 'Noto Serif', serif;
}

.title {
  font-size: 3rem;
  font-weight: 450;
}

ul {
  list-style: none;
}

.icon {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

.btn {
  --btn-bg: #393838;
  --btn-fg: var(--fg);
  --btn-border: none;

  --btn-hover-bg: var(--fg);
  --btn-hover-fg: var(--bg);
  --btn-hover-border: none;
  --btn-hover-opacity: 1;

  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: center;

  background-color: var(--btn-bg);
  color: var(--btn-fg);
  border: var(--btn-border);
  border-radius: 4px;
  padding: 8px 16px;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.1s ease-in-out;

  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-fg);
    border: var(--btn-hover-border);
    opacity: var(--btn-hover-opacity);
  }
}

.btn--danger {
  --btn-bg: transparent;
  --btn-fg: var(--danger);
  --btn-hover-bg: var(--danger);
  --btn-hover-fg: var(--fg);
}

.btn--secondary {
  --btn-bg: transparent;

  --btn-hover-bg: transparent;
  --btn-hover-fg: var(--fg);
  --btn-hover-opacity: 0.5;
}

.alert-error {
  background-color: var(--danger);
  border-radius: 32px;
  padding: 8px 16px;

  display: flex;
  gap: var(--spacing-sm);
}
