@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --fg: #f0f0f0;
  --bg: #1d1c1c;

  --spacing-lg: calc(var(--spacing) * 2);
  --spacing: 16px;
  --spacing-sm: calc(var(--spacing) / 2);
  --spacing-xs: calc(var(--spacing) / 4);

  --danger: #cc2b2b;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

h1,
h2,
h3 {
  font-family: 'Noto Serif', serif;
}

.title {
  font-size: 3rem;
  font-weight: 450;
}

ul {
  list-style: none;
}

.icon {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

.btn {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;

  background-color: var(--bg);
  color: var(--fg);
  border: none;
  border-radius: 4px;
  padding: 4px 8px;

  &:hover {
    opacity: 0.5;
  }
}

.btn--danger {
  --bg: var(--danger);
}

.btn--secondary {
  --bg: transparent;
}
